@tailwind base;
@tailwind components;
@tailwind utilities;

.col-lg {
  height: 300px;
  @apply overflow-hidden relative my-2.5 basis-full sm:basis-3/10;
}

.col-lg img {
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  @apply block absolute m-auto min-w-full min-h-full;
}
